#call {
    background-color:  #fff;
    background-image: url("../img/call.png");
    background-repeat: no-repeat;
}
#call1 {
    background-color:  #fff;
    background-image: url("../img/call1.png");
    background-repeat: no-repeat;
}